<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

</body>
</html>

<script>
Name = 'root'
Age = 18

function Foo(name, age) {
    this.Name = name;
    this.Age = age;
    this.Func = function(){
        console.log(this.Name,this.Age);
        (function(){
            console.log(this.Name,this.Age);
            console.log(this)
        })();
    }

}

obj = new Foo("caozhao",11)
obj.Func()
</script>